In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Output File (CSV)
master_data_file = 'Data/chicago_data.csv'

#import data set ids for the https://data.cityofchicago.org/resource/
data_input = pd.read_csv('Data/data_ids.csv')
data_ids = data_input['1'].tolist()

#Data request url
url = f"https://data.cityofchicago.org/resource/"
par = ".json"

#import shell data value dataframe
city_data = pd.read_csv('Data/df_start.csv')

#API calls to import each data set and merge it based on date values
for item in data_ids:
    print(url + item + par)
    response = requests.get(url + item + par).json()
    new_data = pd.DataFrame(response)
    new_data.columns.values[0] = 'date'
    city_data = pd.merge(city_data, new_data, how='outer', on='date')

https://data.cityofchicago.org/resource/naz8-j4nc.json
https://data.cityofchicago.org/resource/f3he-c6sv.json

In [2]:
#Save the merged dataset as a .csv and display the dataframe
city_data.to_csv(master_data_file, index=False)
city_data

,date,cases_total,deaths_total,hospitalizations_total,cases_age_0_17,cases_age_18_29,cases_age_30_39,cases_age_40_49,cases_age_50_59,cases_age_60_69,...,acute_non_icu_beds_in_use_covid_19,acute_non_icu_beds_in_use_covid_19_patients,acute_non_icu_beds_in_use_covid_19_pui,acute_non_icu_beds_in_use_non_covid_19,acute_non_icu_beds_available_total,combined_hospital_beds_in_use_covid_19,daily_update_pdf,ventilator_surge_capacity,icu_beds_surge_capacity_adult,icu_beds_surge_capacity_pediatric
0,2020-03-29T00:00:00.000,282,20,130,4,29,48,54,50,50,...,NaN,NaN,NaN,NaN,1638,NaN,{'url': 'https://www.chicago.gov/content/dam/c...,196,218,8
1,2020-03-01T00:00:00.000,0,0,2,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-02T00:00:00.000,0,0,2,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-03T00:00:00.000,0,0,3,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-04T00:00:00.000,0,0,4,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,2020-06-04T00:00:00.000,319,14,35,27,92,63,54,40,25,...,721,437,284,4593,2450,1033,{'url': 'https://www.chicago.gov/content/dam/c...,NaN,NaN,NaN
233,2020-07-15T00:00:00.000,267,7,24,30,83,51,33,34,18,...,423,184,239,5193,2421,521,{'url': 'https://www.chicago.gov/content/dam/c...,NaN,NaN,NaN
234,2020-07-13T00:00:00.000,335,3,35,36,98,68,45,35,31,...,361,161,200,5090,2592,467,{'url': 'https://www.chicago.gov/content/dam/c...,NaN,NaN,NaN
235,2020-05-14T00:00:00.000,776,45,130,49,167,152,132,108,95,...,1219,869,350,4824,1550,1675,{'url': 'https://www.chicago.gov/content/dam/c...,312,117,20
236,2020-10-22T00:00:00.000,2,0,NaN,0,0,0,1,0,1,...,443,226,217,5799,2003,559,{'url': 'https://www.chicago.gov/content/dam/c...,NaN,NaN,NaN

In [3]:
#Creates a list of data ids, converts to a DataFrame and saves to a .csv file
#data_ids = [['Chicago COVID-19 Daily Cases, Deaths, and Hospitalizations - Health & Human Services','naz8-j4nc'],['COVID-19 Hospital Capacity Metrics - Health & Human Services','f3he-c6sv']]
#new_ids = pd.DataFrame(data_ids)
#new_ids.to_csv('Data/data_ids.csv')

In [4]:
# Creates the shell data frame of date values
#start_df = pd.DataFrame(city_data[['date','cases_total']])
#del start_df['cases_total']
#start_df.to_csv('Data/df_start.csv',index=False)
#start_df